In [54]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process;

In [26]:
movies = 'movies.csv'
ratings = 'ratings.csv'
df_movies = pd.read_csv(movies, usecols=['movieId', 'title'], dtype = {'movieId': 'int32', 'title': 'str'})
df_ratings = pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype = {'movieId': 'int32', 'userId': 'float32',
                                                                                    'rating': 'str'})

In [27]:
df_ratings.head()

   userId  movieId rating
0     1.0        1    4.0
1     1.0        3    4.0
2     1.0        6    4.0
3     1.0       47    5.0
4     1.0       50    5.0

In [216]:
df_movies[df_movies['movieId']==47]

    movieId                        title
43       47  Seven (a.k.a. Se7en) (1995)

In [39]:
movies_users = df_ratings.pivot(index ='movieId', columns='userId', values='rating').fillna(0)

array([['4.0', 0, 0, ..., '2.5', '3.0', '5.0'],
       [0, 0, 0, ..., '2.0', 0, 0],
       ['4.0', 0, 0, ..., '2.0', 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=object)

In [42]:
mat_movies_users = csr_matrix(np.array(movies_users.values, dtype = 'float'))

In [49]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [77]:
def Recommender(movie_name, data, model, n_recommendations):
    model.fit(data)
    index = process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ', df_movies['title'][index], 'Index: ', index)
    print('Searching For Recommendations.........')
    distances, indices = model.kneighbors(data[index], n_neighbors=n_recommendations)
    print(distances, indices)
    return indices, distances
    
indices, distances = Recommender('toy story', mat_movies_users, model_knn, 20)

Movie Selected:  Toy Story (1995) Index:  0
Searching For Recommendations.........
[[0.         0.42739874 0.4343632  0.43573831 0.44261183 0.45290409
  0.45885465 0.4589107  0.46108723 0.46583124 0.46961865 0.4720232
  0.47214083 0.47967548 0.48196726 0.48581831 0.48775438 0.49068283
  0.49140738 0.49145545]] [[   0 2353  418  615  224  314  322  910  546  963  968 3189  506  123
   257  897  815 1182   31  277]]

In [181]:
list = pd.DataFrame(data = distances[0][1:], columns=["Similarity"])

In [182]:
list["Movie_Index"] = indices[0][1:]

In [207]:
list = list.sort_values(by='Similarity', ascending=False)

In [225]:
for x in list['Movie_Index']:
    a1 = df_movies['title'][df_movies['movieId']==x]
    a2 = list['Similarity'][list['Movie_Index']==x].values
    print(f'Movie: {a1}           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: {a2}')
    print()

[0.49145545]
Movie: 239    Miracle on 34th Street (1994)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.49145545]

[0.49140738]
Movie: 30    Dangerous Minds (1995)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.49140738]

[0.49068283]
Movie: Series([], Name: title, dtype: object)           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.49068283]

[0.48775438]
Movie: Series([], Name: title, dtype: object)           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.48775438]

[0.48581831]
Movie: 679    For Whom the Bell Tolls (1943)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.48581831]

[0.48196726]
Movie: 221    Just Cause (1995)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.48196726]

[0.47967548]
Movie: 107    Chungking Express (Chung Hing sam lam) (1994)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.47967548]

[0.47214083]
Movie: 441    Orlando (1992)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.47214083]

[0.4720232]
Movie: 2403    My Dog Skip (1999)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.4720232]

[0.46961865]
Movie: 741    Night of the Living Dead (1968)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.46961865]

[0.46583124]
Movie: 739    Inspector General, The (1949)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.46583124]

[0.46108723]
Movie: 478    Super Mario Bros. (1993)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.46108723]

[0.4589107]
Movie: 692    Some Like It Hot (1959)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.4589107]

[0.45885465]
Movie: 281    Swimming with Sharks (1995)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.45885465]

[0.45290409]
Movie: 273    Secret of Roan Inish, The (1994)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.45290409]

[0.44261183]
Movie: 191    Don Juan DeMarco (1995)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.44261183]

[0.43573831]
Movie: 526    Bread and Chocolate (Pane e cioccolata) (1973)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.43573831]

[0.4343632]
Movie: 362    Being Human (1993)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.4343632]

[0.42739874]
Movie: 1755    Enemy of the State (1998)
Name: title, dtype: object           ðŸ‘‰ðŸ‘‰ðŸ‘‰     Similarity Percentage: [0.42739874]